<app-navbar></app-navbar>
<div class="menu-bg col s12 animated fadeIn fast">

    <div class="perfil col xl2 center-block">

        <div class="row-perfil row text-center">
            <div class="col s12 xl3 m6"  *ngFor="let liga of ligas; let i=index">
                <div class="card">
                    <div class="card-image">
                        <img [src]="liga.imgLiga">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ liga.nombreLiiga }}</span>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>